// Colors
$textColor: #36395a;
$redColor: #dd2e44; // same as apple color
$bodyBackgroundColor: radial-gradient(rgb(181, 230, 181) 40%, rgb(226, 247, 226) 100%);
$appBarBackgroundColor: #e0f7e0;
$inputAndBtnBackgroundColor: #fcfcfd;

// Fonts
$globalFont: "Poppins", sans-serif; // same as Simpra & Protein.tech body font
