// Import Variables
@import "./variables";

.appbar {
	width: 500px;
	height: 30px;
	display: flex;
	padding: 10px 20px;
	justify-content: space-between;
	align-items: center;
	background-color: $appBarBackgroundColor;
	color: $textColor;
	border-radius: 30px;
	div {
		display: flex;
		align-items: center;
		column-gap: 10px;
		input {
			margin: 0 !important;
			height: 15px;
			border: none !important;
			border-radius: 4px;
			padding: 4px 6px;
			background-color: $inputAndBtnBackgroundColor;
			accent-color: $redColor;
			&:focus {
				outline: none;
			}
			&[type="checkbox"] {
				zoom: 1.2;
			}
			&[type="number"] {
				width: 40px;
			}
		}
	}
}
